.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  width: 590px;
  height: 362px;
  border-radius: 8px;
  background: #f8f8f8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;

  &.dark {
    background: #282828;

    h1 {
      color: #ffffff;
    }

    span {
      color: #cccccc;
    }
  }

  svg {
    width: 48px;
    height: 48px;

    path {
      stroke: #e73f5d;
      stroke-width: 2px;
    }
  }

  h1 {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #29292e;
  }

  span {
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #737380;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 40px;
    gap: 8px;

    button {
      border: 0;
      height: 50px;
      border-radius: 8px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      padding: 0 32px;
      cursor: pointer;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }

    .cancel-button {
      background: #dbdcdd;
      color: #737380;
    }

    .confirm-button {
      background: #e73f5d;
      color: #ffffff;
    }
  }
}

.overlay-modal {
  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.80);
}
